<!DOCtype HTML5>
<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/style.css">
</div>

<div id="isbn_title" >
<i><p>Welcome to our humble ISBN checker. Our faithful monks will check your number</p></i>
<div id = "isbn_input">
<form method = 'post' action = '/results'>
<form method = 'post' action = '/results'>
<input type = 'text' name = 'amount'>
<input type = 'submit'>
</form> 
</div>
</div>