<form method = "post" action = "/results">  
	<h3> Your entered data of <%=my_isbn%> is <%=isbn_result%></h3>
	<a href="/enter_isbn"><button type="button">Click here for another ISBN</button></a>
</form>